body {
    padding: 40px;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
.barra-superior{
    background-color: #555;
    max-height: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
}

h1{
    margin-bottom: 10px;
    font-size: 32px;
    color: #222;
}
h2{
    margin-top: 0;
    font-size: 18px;
    color: #555;
    font-weight: normal;
}
a {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: #f4f4f4;
    background-color: #0077cc;
    padding: 10px 16px;
    border-radius: 6px;
}
.container{
    max-width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
}
.entrada{
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    line-height: 1.6;
}
.entrada h3{
    margin-bottom: 5px;
}
.data{
    font-size: 14px;
    color: #888;
    margin-top: 0;
}


